<div class="app-header-menu-inner">
  <div class="header-menu-item item-1">
    <a href="/collections/essential-gifts" class="menu-link">ESSENTIAL GIFTS</a>
    <a href="/collections/exclusivedeals" class="menu-link"> EXCLUSIVE DEALS</a>
    <a href="/collections/ss25-i-am-human" class="menu-link">SS25 Collection</a>
    <a href="/collections/popular" class="menu-link">Best Sellers</a>
    <a href="/collections/our-pride-legends" class="menu-link">Archived Collections</a> 
  </div>

  <div class="header-menu-item item-2">
    <a href="/collections/jewelry" class="menu-link">JEWELRY</a>
    <a href="/collections/arms-handwear/Rings" class="menu-link">RINGS</a>
    <a href="/collections/jewelry/Ear-Cuffs" class="menu-link">EARRINGS</a>
    <a href="/collections/chokers-chains" class="menu-link">Necklaces &amp; Chokers</a>
  </div>

  <div class="header-menu-item item-3">
    <a href="/collections/outerwear" class="menu-link">3D Printed Accessories</a>
    <a href="/collections/outerwear/Glasses" class="menu-link">Glasses</a>
    <a href="/collections/outerwear/Headphones-Attachments" class="menu-link">Headphones Attachments</a>
  </div>

  <div class="header-menu-item item-4">
    <a href="/collections/3d-products" class="nav-menu-link nav-menu-text">3D PRINTED HYPER ITEMS</a>
    <a href="/collections/outerwear/Tops" class="menu-link">Tops</a>
    <a href="/collections/outerwear/Masks" class="menu-link">Masks</a>
    <a href="/products/exo-enigma-headband" class="menu-link">Headbands</a>
  </div>

  <div class="header-menu-item item-5">
    <a href="/" aria-current="page" class="nav-menu-link w-inline-block w--current">
      <div class="nav-menu-text">SAMPLESTORE</div>
    </a>
    <a href="/pages/size-chart" class="menu-link">Size chart</a>
    <a href="/pages/contact" class="menu-link">Contact</a>
    <a href="/pages/faq" class="menu-link">FAQ</a>
    <a href="/pages/about" class="menu-link">ABOUT</a>
  </div>
</div>