@use 'mixins/blur';

:host {
  @include blur.white;
  display: block;
  z-index: 999;
  position: relative;
  width: 90%;
  font-size: clamp(0.5rem, 0.5vw, 0.6rem);
  user-select: none;
  margin: 0 auto;
}

.app-header-menu-inner {
  display: flex;
  border-left: 1px solid var(--light-grey-color);
  flex-wrap:wrap;
}

.header-menu-item {
  text-align: left;
  padding: 0.5rem 0;
  border-right: 1px solid var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
}

.header-menu-item a {
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  color:black;
}

.header-menu-item a:first-child {
  font-weight: bold;
}

.item-1 {
  width: 10%;
}

.item-2 {
  width: 20%;
}

.item-3 {
  width: 20%;
}

.item-4 {
  width: 40%;
}

.item-5 {
  width: 10%;
}

@media(max-width: 1400px) {
  :host {
    font-size: 0.5rem;
    width: 90%;
  }

  .app-header-menu-inner {
    flex-direction: column;  
    border-left: 0px;
  }

  .header-menu-item{
    width: 100%;
    border-left: 1px solid var(--light-grey-color);
  }
}

@media(max-width: 700px) {
  :host {
    width: 100%;
  }

  .app-header-menu-inner {
    flex-direction: column;  
    border-left: 0px;
  }
  
  .header-menu-item{
    width: 100%;
    border-right: 0px;
  }
}

