:host {
  text-align: center;
}

.posthuman-image {
  overflow: hidden;
}

.posthuman-image-container {
  overflow: hidden;
}

// .posthuman-image-container img {
//   width: 100%;
//   height: 100%;
//   clip-path: inset(10% 0 10% 0); /* Обрезаем 10% сверху и 10% снизу */
// }