@use 'elements/containers.scss';
@use 'elements/griddot.scss';
@use 'fonts/fonts.scss';
@forward 'mixins/blur';

:root {
  --light-grey-color: rgb(193, 193, 193);
  --royal-blue: #0c5eff;
  --orange-red: #ff550c;
  --light-blue: rgb(158, 191, 255);

  --menu-text-size: 0.6rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

body::-webkit-scrollbar {
  width: 0;
}

*::selection {
  background: #cc0000;
  color: #ffffff;
}
