<div class="banner-menu">
  <div class="banner">
    <ul class="banner__content">
      <li *ngFor="let line of getMarqueeLines()">{{line}}</li>
    </ul>

    <!-- Weird trick to make infinite marquee -->
    <ul aria-hidden="true" class="banner__content">
      <li *ngFor="let line of getMarqueeLines()">{{line}}</li>
    </ul>
  </div>

  <div class="header-navbar container">
    <nav class="navbar">
      <div class="navbar-menu">
        <div class="navbar-button-wrapper griddot-parent" (click)="toggleMenu()">
          <div class="menu-icon-wrapper">
            <div class="menu-icon"></div>
            <div class="navbar-button menu-button">Menu</div>
          </div>
          <div class="griddot is-bottom-left"></div>
          <div class="griddot is-bottom-right"></div>
        </div>
        <div class="navbar-button-wrapper">
          <div class="navbar-button home-button">Home</div>
        </div>
        <div class="navbar-button-wrapper">
          <div class="navbar-button search-button">Search</div>
          <div class="search-button-icon"></div>
        </div>
        <div class="navbar-button-wrapper">
          <div class="navbar-button currency-button">Pln</div>
        </div>
        <div class="navbar-button-wrapper griddot-parent">
          <div class="menu-icon-wrapper">
            <div class="menu-icon"></div>
            <div class="navbar-button cart-button">Cart</div>
          </div>
          <div class="griddot is-bottom-left"></div>
          <div class="griddot is-bottom-right"></div>
        </div>
      </div>
    </nav>
  </div>
</div>

<app-header-menu [@slideDown]="isMenuOpen ? 'open' : 'closed'" />