@use 'mixins/blur';

:host {
  position: fixed;
  display: block;
  z-index: 100;
  top: 0;
  width: 100%;
  text-transform: uppercase;  	
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  letter-spacing: .1rem;
  font-family: 'airbn2plt';
  @include blur.white;
}

.banner {
  --gap: 1rem;
  display: flex;
  gap: var(--gap);
  font-size: 0.5rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--light-grey-color);
}

.banner__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: running-line 100s linear infinite;

  margin: 0;
  list-style-type: none;
}

@media(max-width: 700px) {
  .banner {
    font-size: 0.3rem;
  }

  .banner__content {
    animation: running-line 15s linear infinite;
  }
}

@keyframes running-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.navbar {
  position: relative;
}

.navbar-menu {
  display: flex;
  border: 1px solid var(--light-grey-color);
  border-top: none;
  font-size: var(--menu-text-size);
  user-select: none;
}

.navbar-button-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem clamp(0.3rem, 2%, 1rem);
  border-right: 1px solid var(--light-grey-color);
  cursor: pointer;
  flex-basis: 0;
}

.navbar-button-wrapper:last-child {
  border-right: none;
}

.navbar-button-wrapper:nth-child(1) {
  text-align: left;
  flex-grow: 1;
}

.navbar-button-wrapper:nth-child(2) {
  text-align: right;
  flex-grow: 4;
}

.navbar-button-wrapper:nth-child(3) {
  flex-grow: 3;
}

.navbar-button-wrapper:nth-child(4) {
  text-align: right;
  flex-grow: 1;
}

.navbar-button-wrapper:nth-child(5) {
  flex-grow: 1;
  margin-left: auto;
}

.menu-icon-wrapper {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  width: 100%;
}

.menu-icon {
  width: 0.7rem;
  height: 0.7rem;
  background-image: url('../../../../../../public/dot-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-button {
  margin-right: auto;
}

.home-button {
  margin-left: auto;
}

.search-button {
  margin: auto;
}

.currency-button {
  margin-left: auto;
}

.cart-button {
  padding-left: auto;
}

@media(max-width: 700px) {
  .navbar-menu {
    height: 1.5rem;
    font-size: 0.4rem;
  }

  .navbar-button-wrapper:nth-child(3) {
    display: none;
  }

  .menu-icon-wrapper {
    justify-content: center;
    align-items: center;
  }

  .navbar-button {
    margin: auto;
    text-align: center;
  }

  .menu-icon-wrapper {
    gap: 0.3rem;
  }

  .container {
    max-width: 100%;
  }
}
