<p class="hero-caption">SS25 "I AM HUMAN" COLLECTION</p>

<div class="hero-button-wrapper">
  <a href="#" class="hero-link">

    <div class="hero-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146 36" preserveAspectRatio="xMidYMid meet"
        aria-hidden="true" role="img">
        <path
          d="M131.762 24.9557L144.632 1.17261L1.63232 1.17261L41.0214 35.1726H78.1505L91.3905 24.9557L131.762 24.9557Z"
          fill="currentColor" stroke="currentColor"></path>
      </svg>
    </div>

    <div class="hero-button-text">SHOP NOW</div>
    <div class="hero-circle"></div>
    <div class="hero-circle is-2"></div>

  </a>
</div>